.timer {
    display: flex;
    gap: 20px;
  }
  .field {
    /* background-color: gray;
      width: 200px;
      height: 100px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .value {
    background-color: gray;
    font-size: 50px;
    width: 75px;
    height: 60px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
  }
  .colon {
      font-size: 23px;
  }